@import '../../../css/colors';

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

.provider-card {
    width: 400px;
    padding: 10px;
    border: 1px solid #BABABA;
    display: flex;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: 0.2s;

    @media only screen and (max-width: 900px) {
        width: 300px;
    }

    &:hover {
        transform: translateY(-3%);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    &__infos {
        display: flex;
        flex-direction: column;

        &__classification {
            @include flexRow;
        }
    }

    &__evaluation {
        @include flexRow;
        gap: 10px;
        font-size: 12px;
    }

    &__pricing {
        @include flexRow;
        gap: 10px;
        font-size: 12px;
    }

    &__avatar {
        margin-right: 10px;
    }

    &__name{
        font-weight: 600;
        flex: 1;
    }

    &__address {
        margin-top: 10px;
        font-size: 14px;
    }
}