@use '../../../css/colors';

.evaluation {
    display: flex;
    flex-direction: row;
    gap: 5px;

    &__star--fill {
        color: colors.$secondaryLight;

        &:hover {
            color: colors.$secondaryDark;
        }
    }

    &__star--dont-fill {
        color: #aaa;

        &:hover {
            color: colors.$secondaryDark;
        }
    }
}