@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin imageStyle {
    @include flexCenter();
    width: 40px;
    height: 40px;
}

.icon-button {
    @include flexCenter();
    justify-content: flex-start;
    flex-direction: row;    
    gap: 10px;
    cursor: pointer;
 
    &__image {
      @include imageStyle();
    }

    &__image--rounded {
        @include imageStyle();
        border-radius: 100%;
    }
}