.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    cursor: pointer;
    outline: none;
    
    &__text {
        text-align: center;
        flex: 0.8
    }

    &__cion {
        text-align: center;
        flex: 0.2;
    }

    &--rounded {
        border-radius: 100px;
    }

    &:active {
        transform: scale(0.98);
    }
}