$primary: #FF0055;
$primaryLight: #FB5189;
$primaryDark: #CB0144;

$secondary: #FF0055;
$secondaryLight: #FF0055;
$secondaryDark: #FF0055;

$tertiary: #FF0055;
$tertiaryLight: #FF0055;
$tertiaryDark: #FF0055;

$white: #FFFFFF;

.bg-primary {
    background-color: $primary;
    color: $white;
}

.bg-primaryDark {
    background-color: $primaryDark;
    color: $white;
}

.bg-primaryLight {
    background-color: $primaryLight;
    color: $white;
}

.bg-secondary {
    background-color: $secondary;
    color: $white;
}

.bg-tertiary {
    background-color: $tertiary;
    color: $white;
}
