.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    &__icon {
        margin-left: 18px;
        margin-top: 3px;
    }

    &__text {
        font-size: 0.8px;        
        margin-top: 2px;
        
    }

    input {
        border: none;
        background-color: var(--pinkLight);
        outline: 0;
        width: 45vw;
        height: 45px;
        border-radius: 100px;
        padding-left: 25px;
        border: 1px solid #AAAAAA;

        &::placeholder {
            color: var(--red);
        }
    }
}

.wrapper-search-bar {
    display: flex;
    flex: 1;
    justify-content: center;
}